docs/automation_stack/voice_ui/Voice_to_Agent_Command.json
{
  "name": "Voice_to_Agent_Command",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "voice/command",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "0",
      "name": "Voice Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_OPENAI_KEY"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formData",
              "name": "model",
              "value": "whisper-1"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        0
      ],
      "id": "1",
      "name": "Transcribe (OpenAI Whisper)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_N8N_HOST/webhook/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"query\": $json.text || $json.transcript || $json }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        0
      ],
      "id": "2",
      "name": "Send to Aiora Gauntlet"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 200,
        "options": {
          "responseBody": "={{ $json }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        960,
        0
      ],
      "id": "3",
      "name": "Reply"
    }
  ],
  "connections": {
    "Voice Webhook": {
      "main": [
        [
          {
            "node": "Transcribe (OpenAI Whisper)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe (OpenAI Whisper)": {
      "main": [
        [
          {
            "node": "Send to Aiora Gauntlet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Aiora Gauntlet": {
      "main": [
        [
          {
            "node": "Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fd4968fd-c191-4a7f-9f57-3ac580745dca",
  "meta": {
    "templateCredsSetupCompleted": false
  }
}