docs/automation_stack/ai_agents/Agent_Chat_Orchestrator.json
{
  "name": "Agent_Chat_Orchestrator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent/chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "0",
      "name": "Chat Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message || $json.query || $json.text }}",
        "options": {
          "systemMessage": "=Trading co-pilot. Use tools when needed. Keep answers concise, show tickers/catalysts. Ask one clarifying question when unsure."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        640,
        0
      ],
      "id": "1",
      "name": "AI Agent (Aiora)"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        220
      ],
      "id": "2",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "memoryKey": "chat_history",
        "k": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        640,
        220
      ],
      "id": "3",
      "name": "Memory (Window Buffer)"
    },
    {
      "parameters": {
        "name": "marketWatch",
        "description": "Run Market Watch Master",
        "workflowId": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        960,
        0
      ],
      "id": "4",
      "name": "Market Watch Tool"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_N8N_HOST/webhook/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"query\": $json.output || $json.text || $json}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        0
      ],
      "id": "5",
      "name": "Aiora Post-Enhance"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 200,
        "options": {
          "responseBody": "={{ $json }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1600,
        0
      ],
      "id": "6",
      "name": "Respond"
    }
  ],
  "connections": {
    "Chat Webhook": {
      "main": [
        [
          {
            "node": "AI Agent (Aiora)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (Aiora)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory (Window Buffer)": {
      "ai_memory": [
        [
          {
            "node": "AI Agent (Aiora)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Market Watch Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent (Aiora)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (Aiora)": {
      "main": [
        [
          {
            "node": "Aiora Post-Enhance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aiora Post-Enhance": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4810699e-0ed5-4b23-9747-406cbc925951",
  "meta": {
    "templateCredsSetupCompleted": false
  }
}